.login-wrapper {
    height: 100vh;
    background: aliceblue;
    .MuiGrid-item {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-area {
        .MuiPaper-root {
            width: 90%;
            padding: 15px;
            .kep-login-facebook {
                padding: 8px;
                margin-left: 10px;
            }
        }
    }
}